@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}


<hr />
<div style="margin:0 auto;">
    <div class="row">
        <div class="col-md-6 border">
            <a href="/Home/Travel"><img class="img" src="~/img/Travel-Request-with-texticon.png" /></a>
        </div>
        <div class="col-md-6 border">
            <a href="/Home/Exec"><img class="img" src="~/img/Travel-Execution-with-text-icon.png" /></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 border">
            <a href="/Home/TravelStatusList"><img class="img" src="~/img/Travel-Status-with-text-icon.png" /></a>
        </div>
        <div class="col-md-6 border">
            <a href="/Home/SettlementList"><img class="img" src="~/img/Settlement-with-text-icon.png" /></a>
        </div>
    </div>
</div>
<hr />
<a href="/Home/Index"><h5>Sign Out</h5></a>


